* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rufina', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url(../img/cover-contact.jpg);
}

.header {
  border-bottom: 2px solid rgb(237, 197, 103) !important;
}
/* Bootstarp */
.navbar-toggler-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px !important;
  height: 50px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgb(237, 197, 103);
  border-radius: 5px;
  background-size: 200px;
}

.alogo {
  width: 80px;
  border-radius: 20px;
  margin-left: 60px !important;
}
.acolor {
  background-color: rgb(0, 0, 0);
}

.anav-link {
  color: rgb(237, 197, 103) !important;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  font-size: 17px !important;
  font-weight: bold !important;
  margin-left: 14px;
  text-align: center;
  padding: 20px;
  position: relative;
}

#hover-line-nav::after {
  content: '';
  height: 2px;
  width: 40px;
  position: absolute;
  background-color: rgb(237, 197, 103);
  bottom: 16px;
  left: 20px;
  transition: 3s;
  display: none;
}
#hover-line-nav:hover:after {
  display: block;
  width: 60%;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-basis: auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    margin-left: 40vw;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color);
  color: #010057;
  font-size: 1em;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: #0d5595 !important;
  font-size: 1em !important;
  font-weight: bold !important;
}
/* bootstrap */

.main {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
}

.container-all {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 70vw;
  color: rgb(255, 255, 255);
  padding: 30px;
  justify-content: space-evenly;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
}

.input-text {
  display: flex;
  flex-direction: column;
}

.input-text input {
  margin-top: 20px;
  background-color: rgb(237, 197, 103);
  border-radius: 10px;
  padding: 5px;
}

.input-text textarea {
  margin-top: 20px;
  background-color: rgb(237, 197, 103);
  padding: 10px;
  border-radius: 10px;
}

.content-icon {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 200px;
}

.middle {
  background-color: rgb(237, 197, 103);
  height: 472px;
  padding-left: 5px;
}

#submit {
  background-color: rgb(0, 0, 0);
  color: rgb(237, 197, 103);
  border-radius: 10px;
  border: 1px solid rgb(237, 197, 103);
  padding: 5px;
}
::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 10px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(231, 205, 123);
}

.content-footer p {
  font-size: 15px;
}

.icons {
  display: flex;
  flex-direction: column;
}

.fa-brands {
  font-size: 40px;
  margin-left: 10px;
  color: rgb(231, 205, 123);
}

.about-footer {
  width: 350px;
  margin-top: 35px;
}

.end-footer {
  background-color: rgb(231, 205, 123);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  color: black;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.icon .fa-solid {
  color: rgb(231, 205, 123);
  font-size: 30px;
}

.container-all p {
  color: rgb(255, 255, 255);
}

.container-all h2 {
  color: rgb(231, 205, 123);
}

@media (min-width: 619px) and (max-width: 900px) {
  .contact-info p {
    width: 300px !important;
  }
  .content-icon {
    width: 137px;
  }

  .content-icon p {
    width: 119px !important;
  }
  .middle {
    margin-left: 20px;
    margin-right: 20px;
    height: 387px;
  }

  .container-all {
    font-size: 12px;
    width: 82vh;
  }

  .input-text input {
    margin-top: 15px;
  }

  .input-text {
    margin-bottom: 30px;
  }

  .main h2 span {
    font-size: 28px;
  }

  .content-footer p {
    font-size: 12px !important;
  }

  .main-btn {
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
  }

  .main h3 {
    font-size: 1em;
  }

  .social-icon a {
    font-size: 40px;
    margin-left: -13px;
  }

  .about-footer {
    width: 200px !important;
  }
  .Location {
    width: 200px !important;
    margin-top: 20px !important;
  }
  .content-footer h2 {
    font-size: 17px !important;
  }
  .img-about img {
    width: 300px !important;
    height: 300px;
  }
  .icon-footer .fa-brands {
    font-size: 25px !important;
    margin-left: 10px;
  }
}

@media (min-width: 409px) and (max-width: 619px) {
  .icon .fa-solid {
    font-size: 24px;
  }

  .content-icon p {
    width: 90px !important;
  }

  .content-icon {
    width: 104px;
  }
  .middle {
    margin-left: 10px;
    margin-right: 15px;
    height: 323px;
  }

  .container-all {
    font-size: 9px;
    height: 50vh !important;
    width: 46vh !important;
  }

  .contact-info p {
    width: 207px !important;
    margin-bottom: 0px;
  }

  .input-text {
    margin-bottom: 100px;
    width: 200px;
  }

  .container-all h2 {
    font-size: 16px;
  }
  .main {
    padding: 100px 98px;
  }
  .main h2 span {
    font-size: 28px;
  }

  .content-footer p {
    font-size: 9px !important;
  }

  .main-btn {
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
  }

  .main h3 {
    font-size: 1em;
  }

  .social-icon a {
    font-size: 29px;
    margin-left: -13px;
  }
  .about-footer {
    width: 150px !important;
  }

  .about-footer h2 {
    font-size: 15px;
  }
  .Location {
    width: 150px !important;
    margin-top: 20px !important;
  }
  .content-footer h2 {
    font-size: 12px !important;
  }
  .img-about img {
    width: 200px;
    height: 200px;
  }
  .icon-footer .fa-brands {
    font-size: 15px !important;
  }

  .text-about h5 {
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-size: 0.75em !important;
  }
  .text-about {
    justify-content: center;
  }

  .text-about h2 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .text-about p {
    letter-spacing: 1px;
    font-size: 10px;
  }
}

@media (max-width: 409px) {
  .input-text {
    margin-bottom: 38px;
    width: 139px;
  }

  .input-text {
    margin-bottom: 175px;
    width: 139px;
  }
  .input-text input {
    margin-top: 10px;
    border-radius: 10px;
    padding: 0px;
    font-size: 10px;
    width: 100px;
    width: 155px;
  }
  .input-text textarea {
    margin-top: 12px;
    background-color: rgb(237, 197, 103);
    padding: 10px;
    border-radius: 10px;
    width: 155px;
    height: 58px;
    font-size: 10px;
  }

  .icon .fa-solid {
    font-size: 14px;
  }

  .icon p {
    font-size: 7px !important;
    margin-bottom: 1px !important;
  }

  .content-icon {
    width: 200px;
    margin-left: 57px;
  }

  .content-icon p {
    width: 50px !important;
  }

  .container-all p {
    color: rgb(255, 255, 255);
    font-size: 7px;
  }

  .contact-right {
    width: 171px;
    margin-right: 40px;
  }

  .container-all {
    width: 42vh;
    height: 36vh;
  }
  .middle {
    background-color: rgb(237, 197, 103);
    height: 200px;
    padding-left: 3px;
    margin: 5px;
  }

  .main h2 {
    font-size: 10px !important;
    margin-bottom: 2px;
  }
  .contact-info p {
    width: 170px;
    margin-bottom: 0;
    margin-right: 61px;
  }

  .cards .title {
    font-size: 1.5em;
  }

  .social-icon a {
    font-size: 29px;
    margin-left: -13px;
  }

  .content-footer p {
    font-size: 12px !important;
  }

  .social-icon a {
    font-size: 29px;
    margin-left: -13px;
  }

  .content-footer p {
    font-size: 6px !important;
  }

  .about-footer h2 {
    margin-bottom: 15px;
  }

  .icons h2 {
    margin-top: 9px;
  }
  .about-footer {
    width: 100px !important;
  }
  .Location {
    width: 100px !important;
    margin-top: 20px !important;
  }
  .content-footer h2 {
    font-size: 12px !important;
  }
  .icon-footer .fa-brands {
    font-size: 13px !important;
    margin-left: 4px !important;
  }

  .img-about img {
    width: 200px;
    height: 200px;
    border-radius: 60px;
  }

  .text-about h5 {
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-size: 0.75em !important;
  }
  .text-about {
    justify-content: center;
  }

  .text-about input {
    padding: 4px 3px;
  }

  .text-about h2 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .text-about p {
    letter-spacing: 1px;
    font-size: 10px;
  }
}

@media (max-width: 295px) {
  .input-text {
    margin-bottom: 38px;
    width: 139px;
  }

  .input-text {
    margin-bottom: 175px;
    width: 139px;
  }
  .input-text input {
    margin-top: 10px;
    border-radius: 10px;
    padding: 0px;
    font-size: 10px;
    width: 100px;
    width: 114px;
  }
  .input-text textarea {
    margin-top: 12px;
    background-color: rgb(237, 197, 103);
    padding: 10px;
    border-radius: 10px;
    width: 114px;
    height: 58px;
    font-size: 8px;
  }

  .icon .fa-solid {
    font-size: 14px;
  }

  .icon p {
    font-size: 7px !important;
    margin-bottom: 1px !important;
  }

  .content-icon {
    width: 200px;
    margin-left: 57px;
  }

  .content-icon p {
    width: 50px !important;
  }

  .container-all p {
    color: rgb(255, 255, 255);
    font-size: 5px !important;
  }

  .contact-right {
    width: 171px;
    margin-right: 40px;
  }

  .container-all {
    width: 42vh;
    height: 45vh;
  }

  .middle {
    background-color: rgb(237, 197, 103);
    height: 188px;
    padding-left: 3px;
    margin: 5px;
  }

  .main h2 {
    font-size: 6px !important;
    margin-bottom: 2px;
  }
  .contact-info p {
    width: 116px !important;
    margin-bottom: 0 !important;
    margin-right: 61px !important;
  }

  .alogo {
    margin-left: 0px !important;
  }

  .content-footer p {
    font-size: 5px !important;
  }

  .about-footer {
    width: 100px !important;
  }
  .Location {
    width: 100px !important;
    margin-top: 20px !important;
  }
  .content-footer h2 {
    font-size: 6px !important;
    margin-left: -2px;
  }
  .icon-footer .fa-brands {
    font-size: 6px !important;
  }
  .end-footer p {
    font-size: 10px !important;
  }
}

@media (min-width: 900px) {
  .container-all {
    width: 80vw;
  }
  .middle {
    margin-left: 40px;
    margin-right: 40px;
  }

  .input-text {
    margin-bottom: 30px;
  }

  .contact-info p {
    width: 400px !important;
  }
  .content-icon p {
    width: 178px;
  }

  /* .contact-info p {
    width: 200px;
  } */
}

@media (max-width: 294px) {
  .container-all {
    width: 80vw;
    height: 36vh;
  }
  .end-footer p {
    font-size: 10px !important;
  }
  .middle {
    background-color: rgb(237, 197, 103);
    height: 189px !important;
    padding-left: 3px;
    margin: 5px;
  }
}
