/* Bootstarp */
.navbar-toggler-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px !important;
  height: 50px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgb(237, 197, 103);
  border-radius: 5px;
  background-size: 200px;
}

.alogo {
  width: 80px;
  border-radius: 20px;
  margin-left: 60px !important;
}
.acolor {
  background-color: rgb(0, 0, 0);
}

.anav-link {
  color: rgb(237, 197, 103) !important;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  font-size: 17px !important;
  font-weight: bold !important;
  margin-left: 14px;
  text-align: center;
  padding: 20px;
  position: relative;
}

#hover-line-nav::after {
  content: '';
  height: 2px;
  width: 40px;
  position: absolute;
  background-color: rgb(237, 197, 103);
  bottom: 16px;
  left: 20px;
  transition: 3s;
  display: none;
}
#hover-line-nav:hover:after {
  display: block;
  width: 60%;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-basis: auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    margin-left: 40vw;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color);
  color: #010057;
  font-weight: bold;
  font-size: 1em;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: #0d5595 !important;
  font-size: 1em !important;
  font-weight: bold !important;
}
/* bootstrap */
* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rufina', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header {
  border-bottom: 2px solid rgb(237, 197, 103) !important;
}
body {
  overflow-x: hidden;
}

.title-project {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 2.2em;
  padding-top: 40px;
}

.project {
  background-color: rgb(33, 33, 33);
}
.content-project {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(370px, 370px));
  padding: 20px;
  gap: 10px;
}

.card-project {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: rgb(237, 197, 103) 2px 2px 2px 2px;
  border-radius: 10px;
  margin: 20px;
}

.card-project:hover {
  background-color: rgb(231 205 115 / 76%);
  transition-duration: 1s;
  transform: scale(1.05);
}
.card-project:hover p {
  transition-duration: 1s;
  color: black;
}
.img-project img {
  width: 99%;
  border-radius: 10px;
}

.img-project {
  text-align: center;
  margin: 5px;
}

.info-project {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: 800;
  margin-left: 10px;
  font-weight: 800;
}

.info-project p {
  font-size: 0.7em;
  text-align: left;
  color: aliceblue;
  font-weight: 800;
}

.project-title {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px 0;
}
.project-title a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgb(86 86 86);
}

.project-title a:hover {
  transform: scale(1.09);
  transition-duration: 1s;
  background: rgb(231, 205, 123);
}

.project-title span {
  font-weight: 800;
  color: rgb(231, 205, 123);
  text-shadow: 1px 1px 3px black;
}
/* footer    */
.footer {
  background-color: black;
  color: white;
  text-align: center;
}

.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(231, 205, 123);
}

.content-footer p {
  font-size: 15px;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icon-footer .fa-brands {
  font-size: 40px;
  margin-left: 10px;
  color: rgb(231, 205, 123);
}

.about-footer {
  width: 350px;
  margin-top: 35px;
}

.end-footer {
  background-color: rgb(231, 205, 123);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  color: black;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
